*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

$main-black: #222;
$main-green: #82b340;
$main-white: #fff;
$main-grey: #ececec;
$main-transition: all 0.3s linear;



body {
  font-family: 'Open Sans', sans-serif;
  background: $main-green;
  color: $main-black;
}